/*
*
*   GLOBAL STYLES
*
*   Individual component styles should reside and
*   be referrenced from the corresponding directory.
*
*/

/* --------------------------------------------------------------
# Global
-------------------------------------------------------------- */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

/* --------------------------------------------------------------
# Root
-------------------------------------------------------------- */
:root {
  --top-padding: 60px;
}

//$body-bg: $black;
//$body-color: $white;
//@import "~bootstrap/scss/bootstrap";

/* --------------------------------------------------------------
# Custom
-------------------------------------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  display: grid;
  place-content: center;
}
